<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{companyName}}</title>
    </head>
    <body tabindex="0" role="listitem">
        <div id="content" class="netease_mail_readhtml">
            <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" style="font-size:14px;font-family:Microsoft Yahei,Arial, Helvetica, sans-serif;padding:0;margin:0;color:#333;background-image:url(https://ftp.binance.com/img/20180206/image_1509938087118.jpg);background-color:#f7f7f7;background-repeat:repeat-x;background-position:bottom left;">
                <tbody>
                    <tr>
                        <td>
                            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td align="center" valign="middle" style="padding:33px 0;"><a href="https://orangep.cn/" target="_blank"><img src="https://orangep.cn/image/logo.ico" width="64" height="64" alt="{{companyName}}" style="border:0;"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="padding:0 30px;background:#fff;box-shadow:0 0 5px #eee;">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="border-bottom: 1px solid #e6e6e6;font-size:18px;padding:20px 0;">
                                                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>{{type}}</td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                             </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:14px;line-height:30px;padding:20px 0;color:#666;">尊敬的用户您好，欢迎您来到{{companyName}}！<br>这是您账户的{{type}}：</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>{{code}}</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="padding:20px 0 0 0;line-height:26px;color:#666;">如果此活动不是您本人操作，请您尽快联系{{companyName}}客服。</td>
                                                        </tr>
<!--                                                        <tr>-->
<!--                                                            <td><a style="color:#e9b434;" href="https://binance.zendesk.com/hc/zh-cn" target="_blank">https://binance.zendesk.com/hc/zh-cn</a></td>-->
<!--                                                        </tr>-->
                                                        <tr>
                                                            <td style="padding:30px 0 15px 0;font-size:12px;color:#999;line-height:20px;">{{companyName}}团队<br>系统邮件，请勿回复</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
<!--                                    <tr>-->
<!--                                        <td align="center" style="padding:26px 0;">-->
<!--                                            <table>-->
<!--                                                <tbody><tr>-->
<!--                                                    <td style="padding-right:13px;"><img src="https://orangep.cn/image/logo.ico"></td>-->
<!--                                                        <td valign="top" style="padding-left:13px;">-->
<!--                                                            <strong style="display:block;font-weight:normal;margin-bottom:12px;">下载应用</strong>-->
<!--                                                            <a href="https://www.binancezh.com/clientDownloads.html" target="_blank"><img src="https://orangep.cn/image/logo.ico"></a>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                </tbody>-->
<!--                                            </table>-->
<!--                                        </td>-->
<!--                                    </tr>-->
                                    <tr>
                                        <td align="center" style="font-size:12px;color:#999;padding:20px 0;">@ 2017 - 2019 Orangep.cn All Rights Reserved<br>官方网站： <a style="color:#999;text-decoration:none;" href="https://orangep.cn/" target="_blank">orangep.cn</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script>
            var _c=document.getElementById('content');
            _c.innerHTML=(_c.innerHTML||'').replace(/(href|formAction|onclick|javascript)/ig, '__$1').replace(/<\/?marquee>/ig,'');
            var _s = _c.getElementsByTagName('style');
            for(var i=0;i<_s.length;i++){ var _st = _s[i].innerHTML.split('}'); for(var j=0;j<_st.length-1;j++){ _st[j] = '.netease_mail_readhtml '+_st[j]; } _s[i].innerHTML = _st.join('}'); }
        </script>
        <style type="text/css">
            body{
                font-size:14px;
                font-family:arial,verdana,sans-serif;
                line-height:1.666;
                padding:0;
                margin:0;
                overflow:auto;
                white-space:normal;
                word-wrap:break-word;
                min-height:100px
            }
            td, input, button, select, body{
                font-family:Helvetica, 'Microsoft Yahei', verdana
            }
            pre {
                white-space:pre-wrap;
                white-space:-moz-pre-wrap;
                white-space:-pre-wrap;
                white-space:-o-pre-wrap;
                word-wrap:break-word;
                width:95%
            }
            th,td{
                font-family:arial,verdana,sans-serif;
                line-height:1.666
            }
            img{
                border:0
            }
            header,footer,section,aside,article,nav,hgroup,figure,figcaption{
                display:block
            }
            blockquote{
                margin-right:0px
            }
        </style>
        <style id="netease_mail_footer_style" type="text/css">#netease_mail_footer{display:none;}</style>
        <style id="ntes_link_color" type="text/css">a,td a{color:#064977}</style>
    </body>
</html>